{
    storage redis {
        host 144.31.2.123
        port 6379
        password UQlm12LOr9I1lu
        key_prefix caddy_
        db 0
    }
}

my-rebar.shop:80 {
    redir https://{host}{uri} permanent
}


mos-drywall.shop:80 {
    redir https://{host}{uri} permanent
}



mos-drywall.shop:9443 {
    root * /var/www/mos-drywall.shop
    file_server
    encode gzip
    log {
        output file /var/log/caddy/mos-drywall.log
    }
}

my-rebar.shop:9443 {
    root * /var/www/my-rebar.shop
    file_server
    encode gzip
    log {
        output file /var/log/caddy/my-rebar.log
    }
}
